In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv("culture2015.csv", sep=";")

In [3]:
df.head()

   ctr      country     pdi     idv     mas     uai  ltowvs ivr
0  AFE  Africa East      64      27      41      52      32  40
1  AFW  Africa West      77      20      46      54       9  78
2  ALB      Albania  #NULL!  #NULL!  #NULL!  #NULL!      61  15
3  ALG      Algeria  #NULL!  #NULL!  #NULL!  #NULL!      26  32
4  AND      Andorra  #NULL!  #NULL!  #NULL!  #NULL!  #NULL!  65

In [4]:
df.dtypes

ctr        object
country    object
pdi        object
idv        object
mas        object
uai        object
ltowvs     object
ivr        object
dtype: object

In [5]:
#df.iloc[:,2]=pd.to_numeric(df.iloc[:,2], errors='coerce')

for i in range(2,8):
    df.iloc[:,i]=pd.to_numeric(df.iloc[:,i], errors='coerce')

In [6]:
df=df.dropna()

In [7]:
df=df.reset_index()

In [8]:
df1=df.iloc[:,3:9]

In [9]:
kmeans = KMeans(n_clusters=6).fit(df1)
centroids = kmeans.cluster_centers_
print(centroids)

[[82.9        27.7        59.2        37.6        58.2        33.3       ]
 [67.72222222 33.38888889 43.66666667 81.88888889 37.55555556 37.55555556]
 [58.14285714 42.         31.14285714 74.57142857 82.28571429 22.71428571]
 [32.09090909 77.81818182 39.63636364 43.45454545 38.09090909 67.63636364]
 [46.90909091 65.         65.36363636 78.36363636 68.18181818 48.        ]
 [66.375      22.375      54.25       76.625      18.25       82.125     ]]

In [10]:
pred_y =kmeans.predict(df1)

In [11]:
df2=pred_y.shape

In [12]:
df.shape

(65, 9)

In [13]:
df2=pd.DataFrame(pred_y, columns=['groups'])

In [14]:
XY2=df.merge(df2,left_index=True, right_index=True)

In [15]:
XY2[XY2.groups == 6]

Empty DataFrame
Columns: [index, ctr, country, pdi, idv, mas, uai, ltowvs, ivr, groups]
Index: []

In [16]:
XY2[XY2.groups == 4]

    index  ctr      country   pdi   idv   mas   uai  ltowvs   ivr  groups
5       9  AUT      Austria  11.0  55.0  79.0  70.0    60.0  63.0       4
7      13  BEL      Belgium  65.0  75.0  54.0  94.0    82.0  57.0       4
15     28  CZE    Czech Rep  57.0  58.0  57.0  74.0    70.0  29.0       4
20     37  FRA       France  68.0  71.0  43.0  86.0    63.0  48.0       4
21     39  GER      Germany  35.0  67.0  66.0  65.0    83.0  40.0       4
25     46  HUN      Hungary  46.0  80.0  88.0  82.0    58.0  31.0       4
30     54  ITA        Italy  50.0  76.0  70.0  75.0    61.0  30.0       4
31     56  JPN        Japan  54.0  46.0  95.0  92.0    88.0  42.0       4
35     62  LUX   Luxembourg  40.0  60.0  50.0  70.0    64.0  56.0       4
37     66  MLT        Malta  56.0  59.0  47.0  96.0    47.0  66.0       4
56     95  SWI  Switzerland  34.0  68.0  70.0  58.0    74.0  66.0       4

In [17]:
centroids = kmeans.cluster_centers_

In [18]:
centroids

array([[82.9       , 27.7       , 59.2       , 37.6       , 58.2       ,
        33.3       ],
       [67.72222222, 33.38888889, 43.66666667, 81.88888889, 37.55555556,
        37.55555556],
       [58.14285714, 42.        , 31.14285714, 74.57142857, 82.28571429,
        22.71428571],
       [32.09090909, 77.81818182, 39.63636364, 43.45454545, 38.09090909,
        67.63636364],
       [46.90909091, 65.        , 65.36363636, 78.36363636, 68.18181818,
        48.        ],
       [66.375     , 22.375     , 54.25      , 76.625     , 18.25      ,
        82.125     ]])

In [19]:
df2=pd.DataFrame(pred_y, columns=['groups'])

In [20]:
#group=[i for i in range(0,8)]

In [21]:
df2=pd.DataFrame(centroids,columns=["pdi","idv","mas","uai","ltowvs","ivr"])

In [22]:
df2

         pdi        idv        mas        uai     ltowvs        ivr
0  82.900000  27.700000  59.200000  37.600000  58.200000  33.300000
1  67.722222  33.388889  43.666667  81.888889  37.555556  37.555556
2  58.142857  42.000000  31.142857  74.571429  82.285714  22.714286
3  32.090909  77.818182  39.636364  43.454545  38.090909  67.636364
4  46.909091  65.000000  65.363636  78.363636  68.181818  48.000000
5  66.375000  22.375000  54.250000  76.625000  18.250000  82.125000