# Lab 3
In the following cell cell you have several list.

In [110]:
#list of 007 movies where Sean Connery features James Bond
moviesSeanConnery = ["Dr. No (1962)",
"From Russia with Love (1963)",
"Goldfinger (1964)",
"Thunderball (1965)",
"You Only Live Twice (1967)",
"Diamonds Are Forever (1971)",    
"Never Say Never Again (1983)"]  

#list of 007 movies where David Neven features James Bond
moviesDavidNeven=["Casino Royale (1967)"]    

#list of 007 movies where George Lazenby features James Bond
moviesGeorgeLazenby=["On Her Majesty's Secret Service (1969)"]  
          
#list of 007 movies where Roger Moore features James Bond   
moviesRogerMoore=[ "Live and Let Die (1973)",
"The Man with the Golden Gun (1974)",
"The Spy Who Loved Me (1977)",
"Moonraker (1979)",
"For Your Eyes Only (1981)",
"Octopussy (1983)",
"A View to a Kill (1985)"]

#list of 007 movies where Timothy Dalton features James Bond  
moviesTimothyDalton=[
"The Living Daylights (1987)",
"Licence to Kill (1989)"  
]

#list of 007 movies where Pierce Brosnan features James Bond  
moviesPierceBrosnan=[
"GoldenEye (1995)",
"Tomorrow Never Dies (1997)",
"The World Is Not Enough (1999)",
"Die Another Day (2002)"
]

#list of 007 movies where Daniel Craig features James Bond 
moviesDanielCraig=["Casino Royale (2006)",
"Quantum of Solace (2008)",
"Skyfall (2012)",
"Spectre (2015)"]

**1)** create a list of lists (movies007). The list will be composed by each list of movies featured by each actor.

In [111]:
movies007=[]
movies007.append(moviesSeanConnery)
movies007.append(moviesDavidNeven)
movies007.append(moviesGeorgeLazenby)
movies007.append(moviesRogerMoore)
movies007.append(moviesTimothyDalton)
movies007.append(moviesPierceBrosnan)
movies007.append(moviesDanielCraig)

0

**2)** How many movies were played by the first actor to play James Bond?

In [65]:
movies007[0]

['Dr. No (1962)',
 'From Russia with Love (1963)',
 'Goldfinger (1964)',
 'Thunderball (1965)',
 'You Only Live Twice (1967)',
 'Diamonds Are Forever (1971)',
 'Never Say Never Again (1983)']

In [66]:
len(movies007[0])

7

**3)** How many movies were played by the last actor to play James Bond?

In [67]:
movies007[-1]

['Casino Royale (2006)',
 'Quantum of Solace (2008)',
 'Skyfall (2012)',
 'Spectre (2015)']

In [68]:
len(movies007[-1])

4

**4)** How many actors played the role of James Bond?

In [69]:
len(movies007)

7

**5)**  Create a new list with the number of movies played by each actor

In [128]:
numberMovies=[len(movies007[0]),len(movies007[1]),len(movies007[2]),len(movies007[3]),len(movies007[4]),len(movies007[5]),len(movies007[6])]

In [129]:
numberMovies

[7, 1, 1, 7, 2, 4, 4]

In [131]:
numberMovies.count(max(numberMovies))

2

In [ ]:
(numberMovies)

**6)**  How many movies were played by the actor who appeared most often in movies?

In [71]:
max(numberMovies)

7

**7)**  How many movies were played by the actor who appeared in fewer movies?

In [72]:
min(numberMovies)

1

**8)**  Create a new list (movies007a) with all the films.

In [95]:
movies007a=[]
movies007a.extend(moviesSeanConnery)
movies007a.extend(moviesDavidNeven)
movies007a.extend(moviesGeorgeLazenby)
movies007a.extend(moviesRogerMoore)
movies007a.extend(moviesTimothyDalton)
movies007a.extend(moviesPierceBrosnan)
movies007a.extend(moviesDanielCraig)

In [96]:
movies007a

['Dr. No (1962)',
 'From Russia with Love (1963)',
 'Goldfinger (1964)',
 'Thunderball (1965)',
 'You Only Live Twice (1967)',
 'Diamonds Are Forever (1971)',
 'Never Say Never Again (1983)',
 'Casino Royale (1967)',
 "On Her Majesty's Secret Service (1969)",
 'Live and Let Die (1973)',
 'The Man with the Golden Gun (1974)',
 'The Spy Who Loved Me (1977)',
 'Moonraker (1979)',
 'For Your Eyes Only (1981)',
 'Octopussy (1983)',
 'A View to a Kill (1985)',
 'The Living Daylights (1987)',
 'Licence to Kill (1989)',
 'GoldenEye (1995)',
 'Tomorrow Never Dies (1997)',
 'The World Is Not Enough (1999)',
 'Die Another Day (2002)',
 'Casino Royale (2006)',
 'Quantum of Solace (2008)',
 'Skyfall (2012)',
 'Spectre (2015)']

**9)** Sort the elements of the list

In [88]:
movies007a.sort()

In [89]:
movies007a

['A View to a Kill (1985)',
 'Casino Royale (1967)',
 'Casino Royale (2006)',
 'Diamonds Are Forever (1971)',
 'Die Another Day (2002)',
 'Dr. No (1962)',
 'For Your Eyes Only (1981)',
 'From Russia with Love (1963)',
 'GoldenEye (1995)',
 'Goldfinger (1964)',
 'Licence to Kill (1989)',
 'Live and Let Die (1973)',
 'Moonraker (1979)',
 'Never Say Never Again (1983)',
 'Octopussy (1983)',
 "On Her Majesty's Secret Service (1969)",
 'Quantum of Solace (2008)',
 'Skyfall (2012)',
 'Spectre (2015)',
 'The Living Daylights (1987)',
 'The Man with the Golden Gun (1974)',
 'The Spy Who Loved Me (1977)',
 'The World Is Not Enough (1999)',
 'Thunderball (1965)',
 'Tomorrow Never Dies (1997)',
 'You Only Live Twice (1967)']

**9)** Reverse the order of the list. What will happen if this method is executed twice? Does this method sort the list if it is not sorted?

In [97]:
movies007a.reverse()

In [115]:
movies007a

['Spectre (2015)',
 'Skyfall (2012)',
 'Quantum of Solace (2008)',
 'Casino Royale (2006)',
 'Die Another Day (2002)',
 'The World Is Not Enough (1999)',
 'Tomorrow Never Dies (1997)',
 'GoldenEye (1995)',
 'Licence to Kill (1989)',
 'The Living Daylights (1987)',
 'A View to a Kill (1985)',
 'Octopussy (1983)',
 'For Your Eyes Only (1981)',
 'Moonraker (1979)',
 'The Spy Who Loved Me (1977)',
 'The Man with the Golden Gun (1974)',
 'Live and Let Die (1973)',
 "On Her Majesty's Secret Service (1969)",
 'Casino Royale (1967)',
 'Never Say Never Again (1983)',
 'Diamonds Are Forever (1971)',
 'You Only Live Twice (1967)',
 'Thunderball (1965)',
 'Goldfinger (1964)',
 'From Russia with Love (1963)',
 'Dr. No (1962)']

**10)** What is the index of the movie "Spectre (2015)" in the list of movies

In [117]:
movies007a.index("Spectre (2015)")

0

**11)** Add the movie "007 and the bad Guy of the climate change (2020)" in the 11th position.

In [125]:
movies007a.insert(10,"007 and the bad Guy of the climate change (2020)")

In [126]:
movies007a

['Spectre (2015)',
 'Skyfall (2012)',
 'Quantum of Solace (2008)',
 'Casino Royale (2006)',
 'Die Another Day (2002)',
 'The World Is Not Enough (1999)',
 'Tomorrow Never Dies (1997)',
 'GoldenEye (1995)',
 'Licence to Kill (1989)',
 'The Living Daylights (1987)',
 '007 and the bad Guy of the climate change (2020)',
 'A View to a Kill (1985)',
 'Octopussy (1983)',
 'For Your Eyes Only (1981)',
 'Moonraker (1979)',
 'The Spy Who Loved Me (1977)',
 'The Man with the Golden Gun (1974)',
 'Live and Let Die (1973)',
 "On Her Majesty's Secret Service (1969)",
 'Casino Royale (1967)',
 'Never Say Never Again (1983)',
 'Diamonds Are Forever (1971)',
 'You Only Live Twice (1967)',
 'Thunderball (1965)',
 'Goldfinger (1964)',
 'From Russia with Love (1963)',
 'Dr. No (1962)']

**12)** It was a mistake. Remove the movie "007 and the bad Guy of the climate change (2020)"

In [127]:
movies007a.remove("007 and the bad Guy of the climate change (2020)")